@model CategoriesListModels
@{
    
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/ProductList.css" rel="stylesheet" />
</head>
<body>
    <h1 class="text-black-50">Product Manager</h1>
    <div class="w-75">
        <div class="offset-3 border-danger" style="{border-radius:2px;}">
            <input type="hidden" asp-for="@Model.Product.Name" />
            @if (TempData.Keys.Contains("message"))
            {

                <h1 class="bg-info text-center text-white w-auto">
                    @TempData["message"]
                </h1>
            }

        </div>

        <div class="row  ">
            <div class="col-2">
                @if (Model.Categories != null)
                {
                    <div class="list-group  text-center ml-3 ">

                        <a asp-controller="Product" asp-action="List" asp-route-id="All" id="pro" class=" btn btn-primary @Model.CheckActiveCategory("All") list-group-item ">All</a>

                        @foreach (Category category in Model.Categories)
                        {

                            <a asp-controller="Product" asp-action="List" asp-route-id="@category.Name" id="pro" class=" btn btn-primary   @(Model.CheckActiveCategory(category.Name)) list-group-item ">@category.Name</a>


                        }


                    </div>

                }
            </div>



            @RenderBody();
        </div>

        <a class="btn btn-primary  offset-2 " asp-area="Admin" asp-controller="Product" asp-action="Add">Add New Product</a>

    </div>

</body>
</html>
